* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
  /* outline: none; */
  
}
* :focus {
  outline: none;
  opacity: 0.8;
  transition: 0.1s ease-in-out;
}


body {
  margin: 0;
  background: rgb(200, 214, 204);
  text-rendering: optimizeLegibility !important;
  -webkit-font-feature-settings: antialiased !important;  
  font-family: Arial, Helvetica, sans-serif;
}

.calculator{
  width: 400px;
  height: 380px;
  background: rgb(161, 117, 206,0.5);
  margin: 3.5em auto;
  font-size: 1.5em;
  border-radius: 12px;
  box-shadow: 1px 5px 5px rgb(90, 90, 90,0.5);
}

.calculator__display {
  text-align: right;
  font-size: 1.4em;
  padding: 0 20px;
  /* background: #222222; */
  background: #322B52;
  color: rgb(200, 199, 209);
  border-radius: 12px 12px 0 0;  
}

.calculator__keys {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);  
}

button {
  height: 60px;
  font-size: 0.5em;
}

.calculator__keys > * {
  text-align: center;
  border: 0;
  font-weight: bold;
  color: rgb(69, 59, 80);
}

.key--operator {
  background: rgb(247, 184, 115);
}

.key--equal  {
  grid-column: 4/5;
  grid-row: 2 / span 5;
  padding: 5.78em 0;
  /* background-image: linear-gradient(to bottom, rgb(247, 184, 115,0.5), rgb(243, 125, 129,0.5)); */
  background: #F37D81;
  border-radius: 0 0 12px;
}
.zero {
  border-radius: 0 0 0 12px;
}
